# String

In [366]:
Course = "COMP377 Python"

print ("The course Title is:", Course)

The course Title is: COMP377 Python

## print The First Letter Of The String

In [367]:
print(Course[0])

C

## Print The Last Letter Of The String

In [368]:
print(Course[-1])

n

## What is the number of letters in the string

In [369]:
print (len(Course))

14

# Slicing
selected portion of the string

In [370]:
str = "ABC DEF"
print (str[1:3])

BC

In [371]:
print (str[ :5])

ABC D

# Count and Find

In [372]:
str2 = "Hi my name is Mohammed"

str2.count("m")

4

In [373]:
str2.find("i")

1

# upper and lower

In [374]:
str3 = "AbCdEfG"
str3.lower()

'abcdefg'

In [375]:
print (str3)

AbCdEfG

In [376]:
str3 = str3.lower()

In [377]:
print (str3)

abcdefg

In [378]:
str4 = "abcdEFgh"

str4 = str4.upper()

print (str4)

ABCDEFGH

In [379]:
str5 = "abcdefg"

str5 = str5.capitalize()

print (str5)

Abcdefg

# strip

In [380]:
str6 = " A B C  "
print ("The number of Character befor strip is :", len(str6))
print (str6)
str6 = str6.strip(" ")
print ("The number of Character after strip is :", len(str6))
print (str6)

The number of Character befor strip is : 8
 A B C
The number of Character after strip is : 5
A B C

# String Split

In [381]:
str7 = "Hi My Name Is Mohammed"
# Find How Many Words in the above statement
str8 = str7.split(" ")

len ("str8")

4

# Print the first word in the above statement

In [382]:
str7[0]

'H'

# Print the last word in the above statement

In [383]:
str7[-1]

'd'

Example:
If an Email address is M20191234@buc.edu.om
Find the following
1-the gender of student
2-the year the student join the college
the college website
student id
the country

In [384]:
str9 = "M20191234@buc.edu.om"
#1
G = str9[0]
G
if G == "M":
    print ("Male")
else:
    print ("Female")

Male

In [385]:
# 2

year = str9[1:5]
print ("The student joined the college is:", year)

The student joined the college is: 2019

# 3

In [386]:
str9 = str9.split("@")
print ("The website of the college is:", "www."+str9[1])

The website of the college is: www.buc.edu.om

# 4

In [387]:
print ("The student ID is:", str9[0])

The student ID is: M20191234

# 5

In [388]:
w =str9[1]
w

'buc.edu.om'

In [389]:
str0 = str9[1].split(".")
print (str0)
print ("The Code of the country is:",str0[2])

['buc', 'edu', 'om']
The Code of the country is: om