# String

In [447]:
Course = "COMP377 Python"

print ("The course Title is:", Course)

The course Title is: COMP377 Python

## print The First Letter Of The String

In [448]:
print(Course[0])

C

## Print The Last Letter Of The String

In [449]:
print(Course[-1])

n

## What is the number of letters in the string

In [450]:
print (len(Course))

14

# Slicing
selected portion of the string

In [451]:
str = "ABC DEF"
print (str[1:3])

BC

In [452]:
print (str[ :5])

ABC D

# Count and Find

In [453]:
str2 = "Hi my name is Mohammed"

str2.count("m")

4

In [454]:
str2.find("i")

1

# upper and lower

In [455]:
str3 = "AbCdEfG"
str3.lower()

'abcdefg'

In [456]:
print (str3)

AbCdEfG

In [457]:
str3 = str3.lower()

In [458]:
print (str3)

abcdefg

In [459]:
str4 = "abcdEFgh"

str4 = str4.upper()

print (str4)

ABCDEFGH

In [460]:
str5 = "abcdefg"

str5 = str5.capitalize()

print (str5)

Abcdefg

# strip

In [461]:
str6 = " A B C  "
print ("The number of Character befor strip is :", len(str6))
print (str6)
str6 = str6.strip(" ")
print ("The number of Character after strip is :", len(str6))
print (str6)

The number of Character befor strip is : 8
 A B C
The number of Character after strip is : 5
A B C

# String Split

In [462]:
str7 = "Hi My Name Is Mohammed"
# Find How Many Words in the above statement
str8 = str7.split(" ")

len ("str8")

4

# Print the first word in the above statement

In [463]:
str7[0]

'H'

# Print the last word in the above statement

In [464]:
str7[-1]

'd'

Example:
If an Email address is M20191234@buc.edu.om
Find the following
1-the gender of student
2-the year the student join the college
the college website
student id
the country

In [465]:
str9 = "M20191234@buc.edu.om"
#1
G = str9[0]
G
if G == "M":
    print ("Male")
else:
    print ("Female")

Male

In [466]:
# 2

year = str9[1:5]
print ("The student joined the college is:", year)

The student joined the college is: 2019

# 3

In [467]:
str9 = str9.split("@")
print ("The website of the college is:", "www."+str9[1])

The website of the college is: www.buc.edu.om

# 4

In [468]:
print ("The student ID is:", str9[0])

The student ID is: M20191234

# 5

In [469]:
w =str9[1]
w

'buc.edu.om'

In [470]:
str0 = str9[1].split(".")
print (str0)
print ("The Code of the country is:",str0[2])

['buc', 'edu', 'om']
The Code of the country is: om

# Example 2
If the country code is 968 and the phone number is 7123456 find
the phone number

In [471]:
code = "968"
phone = "7123456"
phoneNumber = "+"+ code + phone
phoneNumber

'+9687123456'

# Is alpha() and Is num()

In [472]:
s1 = "a1234"
s1.isnumeric()

False

In [473]:
s1 = "1234"
s1.isnumeric()

True

In [474]:
s2 = "abcd1"
s2.isalpha()

False

In [475]:
s2 = "abcd"
s2.isalpha()

True