## Definde a list

### Define a list that contain 3 types of fruit

In [129]:
fruit = ['Apple','Orange','Banana','Apple']
print (fruit)

['Apple', 'Orange', 'Banana', 'Apple']

## How many elements in the List

In [130]:
len (fruit)

4

## print the second Item in the list

In [131]:
print('The secound element is: ',fruit[1])

The secound element is:  Orange

## Reverse indexing
### print the ;ast element and the last  but one element of the list

In [132]:
print ("The last element is: ", fruit[-1])
print ("The last but one element is : ", fruit[-2])

The last element is:  Apple
The last but one element is :  Banana

## Range of indexes : Slicing

In [133]:

A = [1,2,3,4,5,6,7,0]
print (A [1:2])

[2]

## using in

In [134]:
x = "Banana" in fruit
x

True

In [135]:
x= "2" in A
x

False

## Chande an item in a list

In [136]:
fruit

['Apple', 'Orange', 'Banana', 'Apple']

In [137]:
# change tha apple to be Melon
fruit[3]="Meleon"
fruit

['Apple', 'Orange', 'Banana', 'Meleon']

# In

In [138]:
L = ["a","b",1,"2"]

x = '2' in L
x

True

In [139]:
C= 1
x = C in L
x

True

In [140]:
L[-1] = "4"
L

['a', 'b', 1, '4']

# Insert Items

## insert x betwwen "B" and 1
## to insert in specefic Index []

In [141]:
L.insert(2,"x")
L

['a', 'b', 'x', 1, '4']

## Append or Add 5 to the end of the list
## To insert in the end of list only

In [142]:
L.append(5)
L

['a', 'b', 'x', 1, '4', 5]

# Extend a List

In [143]:
L1 = [1,2,3]
L2 = [10,20,30,40]
L1 + L2

[1, 2, 3, 10, 20, 30, 40]

In [144]:
L1

[1, 2, 3]

In [145]:
L2

[10, 20, 30, 40]

In [146]:
L1.extend(L1)
L1

[1, 2, 3, 1, 2, 3]

In [147]:
L2

[10, 20, 30, 40]

In [148]:
L1 = L1 + L2
L1

[1, 2, 3, 1, 2, 3, 10, 20, 30, 40]

## Remove an Item

In [149]:
L = [10,20,30,40]
L.remove(20)
L

[10, 30, 40]

In [150]:
L = [10,20,30,40]
## Remove the secound elemint
L.pop(1)
L

[10, 30, 40]

## Sort a List

In [151]:
St = ["Salem", "Ahmed", "Kareem","Mohammed"]

St.sort()

St

['Ahmed', 'Kareem', 'Mohammed', 'Salem']

## Copy a List

In [152]:
A = [1,2,3,4]
B = A
B

[1, 2, 3, 4]

In [153]:
B.pop(0)
B

[2, 3, 4]

In [154]:
A

[2, 3, 4]

## Copy a List

In [155]:
A = [1,2,3,4]
B = A.copy()
B

[1, 2, 3, 4]

In [156]:
B.pop(0)
B

[2, 3, 4]

In [157]:
A

[1, 2, 3, 4]